@font-face {
	font-family: 'Giant-Boss';
	src: url('../fonts/Giant-Boss.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Masa-Groovy';
	src: url('../fonts/Masa-Groovy.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
