@font-face {
  font-family: "Giant-Boss";
  src: url("../fonts/Giant-Boss.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Masa-Groovy";
  src: url("../fonts/Masa-Groovy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Masa-Groovy";
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Giant-Boss";
}

.buy {
  background: #ffc4bb;
  background-repeat: no-repeat;
  background-image: url(../images/bg-1.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.paw-1 {
  position: absolute;
  left: 260px;
  top: 0;
}

.paw-2 {
  position: absolute;
  right: 71px;
  top: 0;
}

.paw-3 {
  position: absolute;
  right: 0px;
  bottom: 75px;
}

.paw-4 {
  position: absolute;
  left: 0px;
  bottom: 260px;
}

.anumated {
  animation: main-wap 2s ease;
}

.main-paw {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 752px;
  height: 854px;
  background-repeat: no-repeat;
  background-image: url(../images/main.png);
  background-size: cover;
  background-position: center center;
  animation: main-wap 2s ease;
}

.main-paw__title {
  font-size: 118px;
  text-align: center;
  color: #ff7b8c;
  margin-top: 163px;
}

.btn-buy {
  display: flex;
  background-image: url(../images/buy-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  width: 228px;
  height: 88px;
  justify-self: center;
  margin-top: 95px;
}

.social__links {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.social__item {
  position: absolute;
}

.social__item--tg {
  left: 142px;
  top: 0;
}

.social__item--dex {
  left: 252px;
  bottom: 165px;
}

.social__item--icon {
  right: 253px;
  bottom: 147px;
}

.social__item--x {
  right: 148px;
  top: 0;
}

.buy-text {
  max-width: 894px;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background: #ff7b8c;
  border: 12px solid #fff;
  border-radius: 90px;
  padding: 36px 22px 22px 22px;
}

.roadmap {
  background-image: url(../images/second-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  overflow: hidden;
  position: relative;
}

.paw-5 {
  position: absolute;
  left: 0;
  bottom: 240px;
}

.paw-6 {
  position: absolute;
  right: 0;
  bottom: 340px;
}

.paw-7 {
  position: absolute;
  right: 0;
  bottom: 0px;
}

.paw-8 {
  position: absolute;
  left: 0;
  bottom: 45%;
}

.paw-9 {
  position: absolute;
  right: 0;
  bottom: 45%;
}

.roadmap-paws {
  position: absolute;
  width: 708px;
  height: 359px;
  background-image: url(../images/paws-mini.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 40%;
  left: 25%;
  z-index: 0;
}

.roadmap__title {
  font-size: 140px;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 48px;
  max-width: 667px;
  padding: 20px 34px;
  line-height: 0.8;
}

.ca {
  margin-top: 113px;
  margin-bottom: 113px;
  font-size: 45px;
  color: #fff;
}

.roadmap__list {
  display: flex;
}

.item__inner {
  padding: 35px 43px;
  border-radius: 53px;
  background: #000;
  width: 356px;
  height: 260px;
  margin-top: 266px;
}

.roadmap__item--1 {
  align-self: end;
}

.roadmap__item--1 .item__inner {
  position: relative;
}

.roadmap__item--1 .item__inner::after {
  position: absolute;
  content: "";
  display: flex;
  width: 202px;
  height: 231px;
  background-image: url(../images/paw-clock.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: -216px;
  transform: rotate(90deg);
}

.item__title {
  font-size: 40px;
  line-height: 150%;
  color: #ff7b8c;
}

.item__text {
  font-size: 28px;
  color: #fff;
  line-height: 130%;
}

.roadmap__item--2 {
  align-self: center;
}

.roadmap__item--2 .item__inner {
  margin-left: 100px;
}

.roadmap__item--3 {
  height: 747px;
  width: 662px;
  background-image: url(../images/roadmap-item-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.roadmap__item--3 .item__inner {
  margin-left: 111px;
}

.paws-life {
  background-color: #ffbbdc;
  background-image: url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-image: url(../images/bg-1.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.paws-life__title {
  font-weight: 400;
  font-size: 140px;
  text-align: center;
  color: #fff;
  margin-top: 177px;
  border-radius: 48px;
  max-width: 1165px;
  max-height: 153px;
  background: #000;
  padding: 20px 34px;
  line-height: 0.8;
}

.paws-life__gif {
  border-radius: 60px;
  width: 589px;
  height: 472px;
  margin-top: 44px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paws-life__gif img {
  border-radius: 60px;
  width: 100%;
  border: 1px solid #000;
}

.items {
  display: flex;
  gap: 52px;
  margin-bottom: -30px;
}

@keyframes main-wap {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-1000px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@media (max-width: 1490px) {
  .roadmap {
    margin-top: -90px;
  }
  .roadmap__list {
    flex-direction: column;
  }
  .item__inner {
    margin: 0;
    margin-top: 55px;
  }
  .roadmap__item--2 .item__inner {
    margin-left: 0;
    margin-top: 55px;
  }
  .paws-life__title {
    font-size: 86px;
  }
  .roadmap__item--3 .item__inner {
    margin-top: 250px;
  }
  .roadmap__item--1 .item__inner {
    position: unset;
  }
  .roadmap__item--1 .item__inner::after {
    top: 300px;
    width: 190px;
    height: 206px;
    right: 0;
    transform: rotate(0);
  }
  .roadmap::after {
    display: none;
  }
  .paw-1,
  .paw-2,
  .paw-3,
  .paw-4,
  .paw-5,
  .paw-6,
  .paw-7,
  .paw-8,
  .paw-9 {
    display: none;
  }
}
@media (max-width: 768px) {
  .buy {
    padding-bottom: 150px;
  }
  .main-paw {
    width: 450px;
    height: 554px;
  }
  .main-paw__title {
    font-size: 85px;
    margin-top: 54px;
  }
  .btn-buy {
    width: 133px;
    height: 47px;
  }
  .social__item img {
    max-width: 55px;
  }
  .social__item--tg {
    left: 64px;
    top: 12px;
  }
  .social__item--icon {
    right: 253px;
    bottom: 99px;
  }
  .social__item--dex {
    left: 252px;
    bottom: 103px;
  }
  .social__item--x {
    right: 71px;
    top: 11px;
  }
  .buy-text {
    margin: 10px;
    font-size: 25px;
  }
  .roadmap__title {
    font-weight: 400;
    font-size: 65px;
    text-align: center;
    color: #fff;
  }
  .item__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 150%;
    color: #ff7b8c;
  }
  .item__text {
    font-size: 23px;
  }
  .item__inner {
    border-radius: 53px;
    padding: 35px 43px;
    width: 303px;
    height: 227px;
  }
  .roadmap__item--1 {
    align-self: center;
  }
  .roadmap__item--3 {
    transform: translateX(90px);
  }
  .roadmap__item--2 {
    align-self: center;
  }
  .paws-life__title {
    font-size: 51px;
  }
  .paws-life__gif {
    border-radius: 60px;
    width: 335px;
    height: 233px;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    margin-top: 44px;
  }
  .paws-life__item {
    max-height: 208px;
  }
  .paws-life__item:nth-child(odd) {
    transform: rotate(90deg);
    align-self: start;
  }
  .paws-life__item:nth-child(even) {
    transform: rotate(-90deg);
    align-self: flex-end;
  }
  .ca {
    font-size: 21px;
  }
  .ca span {
    display: block;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .main-paw {
    width: 373px;
    height: 543px;
  }
  .main-paw__title {
    font-size: 65px;
    margin-top: 104px;
  }
  .btn-buy {
    margin-top: 60px;
  }
  .social__item img {
    max-width: 40px;
  }
  .social__item--tg {
    left: 34px;
    top: 17px;
  }
  .social__item--icon {
    right: 226px;
    bottom: 99px;
  }
  .social__item--dex {
    left: 221px;
    bottom: 103px;
  }
  .social__item--x {
    right: 42px;
    top: 17px;
  }
  .buy-text {
    margin: 10px;
    font-size: 25px;
  }
}/*# sourceMappingURL=style.css.map */